# .ebextensions/django.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py # Replace 'myproject' with your actual Django project name
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings # Replace 'myproject'
    # Add any other environment variables your Django app needs
    PYTHONPATH: /var/app/current:$PYTHONPATH

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true # Only run on one instance during deployment
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsuperuser --noinput"
    # Be careful with --noinput for production, usually you'd create one manually
    # or have a more secure way to manage this.
    leader_only: true