option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
    PYTHONPATH: /var/app/current/backend

  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/backend/wsgi.py

packages:
  yum:
    git: []
    libpq-devel: []

container_commands:
  01_install_requirements:
    command: |
      source /var/app/venv/*/bin/activate
      pip install -r requirements.txt > /tmp/pip_install.log 2>&1 || (cat /tmp/pip_install.log && exit 1)
    leader_only: true
    cwd: /var/app/staging/backend

  02_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true
    cwd: /var/app/staging/backend

  03_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py collectstatic --noinput
    leader_only: true
    cwd: /var/app/staging/backend

  04_make_postdeploy_executable:
    command: "chmod +x .platform/hooks/postdeploy/start.sh"
    leader_only: true
    cwd: /var/app/staging
